/* 
通过id选择器设置样式
 */
#container {
    background-color:rgb(251, 241, 227);/* 背景颜色 */
    margin: 0 15%; /* 外边距 上下边距为0 左右边距为父元素的15%(body) */
}

/* 通过元素选择器h1设置样式 */
h1 {
    height:70px; /* 高度 */
    color: white; /* 字体颜色 */
    background-color: cornflowerblue; /* 背景颜色 (德国国华的颜色: 矢车菊蓝)*/
    line-height: 70px; /* 行间距 */
    text-indent: 70px; /* 文本缩进 */
}


/* 通过id选择器设置导航信息居中 */
#nav {
    text-align: center; /* 文本居中 */

}


/* 后代选择器 nav导航下面的li元素 */
#nav li {
    display: inline-block; /* 设置元素为行内块级元素 */
    width: 100px; /* 宽度 */
    height: 30px;/* 高度 */
    background-color: cornflowerblue;
    line-height: 30px; /* 行间距与高度一致, 则显示在中间 */
    border: 1px solid cornflowerblue; /* 边框 */ 
    border-radius: 0 10px; /* 边框左下角和右上角变圆10% */
}

#nav li a {
    text-decoration: none; /* 去除文本修饰 即去掉a标签的下划线 */
    color: white;

}

/* 通过设置a标签的伪类选择器 :hover 设置字体加粗 */
#nav li a:hover {
    font-weight: bold; /* 字体加粗 */
}

/* 通过class类选择器设置样式 */
.center {
    text-align: center; /* 居中显示 */
}

.margin {
    margin: 0 30px; /* 外边距 */
}

#userinfo p{
    text-indent : 30px; /* 首行缩进 */
}

.tb td {
    text-align:center;
}

textarea {
    width: 100%;
    height: 100px;
}

#copyright {
    background: cornflowerblue;
    text-align: center;
    color: white;
    height: 70px;
    line-height: 70px; /* 行间距 */
    font-size: 12px; /* 字体大小 */
}